.root{
    -fx-background-color:linear-gradient(#FF2F59, #272424);
    
    
}
.button{
    -fx-background-color:#00000027;
    -fx-background-radius:12px;
    -fx-border-radius:12px;
}

.button:hover {
    -fx-background-color: #FF2F59;
    
}
.button:pressed{
-fx-background-color: #ff2f5957;
}
.text-field{
    -fx-background-radius: 16px;
}
.Preview{
    -fx-background-color: #0000001a;
    -fx-background-radius: 12px;
}
.menu-bar{
    
    -fx-background-color: #0000001a;
    -fx-background-radius: 12px;
}
.menu-bar:pressed{
    -fx-background-color: #ff2f5957;
}
.menu-bar:hover {
    -fx-background-color: #FF2F59;

}
.menu:hover {
    -fx-background-color: #ff2fcb00;

}
